.infoe{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 70px;
}
.dataSelected{
display:flex;
flex-direction: column;
justify-content: center;
}
.basicInfo{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.col1>p{
margin-bottom: 15px;
font-size: 0.9em;
}
.col2>p{
    margin-bottom: 15px;
    font-size: 0.9em;
    }
.infoe>img{
    width:80%;
}
.dataSelected>h2{
margin-bottom: 30px;
font-size: 2.2em;

}
.borderButton{
   margin:10px;
   padding:7px;
   border:none;
   background-color: white;
   box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
}
.countrypage{
    display: flex;
    justify-content: center;
}
.returnButton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 15px;
    width: 90px;
    background-color: white;
    padding: 7px;
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
    margin-left: 70px;
    margin-top: 50px;
}
.returnButton>img{
    width:15px;
    margin-right: 5px;
}