@import './App.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding:0 auto;
background-color: $white-dm-lm;
padding: 20px 70px;
box-shadow: 2px 3px 6px -1px rgba(153,148,153,1);
}
.switch{
    display:flex;
    align-items: center;
}

.switch>h3{
    margin:10px;
    font-weight: 300
}
@media (max-width:500px){
    .header{
        padding: 20px 20px;
    }
    .logoTitle{
        font-size: 1.3em; 
    }
}