@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@0,700;1,300&display=swap);
 
 $dark-Blue-dm: hsl(209, 23%, 22%);
 $very-dark-blue-dm: hsl(207, 26%, 17%);
 $very-dark-blue-lm: hsl(200, 15%, 8%);
 $dark-gray-lm: hsl(0, 0%, 52%);
 $very-light-gray-lm: hsl(0, 0%, 98%);
 $white-dm-lm: hsl(0, 0%, 100%);

 $font1:'Nunito Sans', sans-serif;